
.jumbotron-ski {
  text-align: center;
  background-color: white;
  opacity: 75%;

}

.title {
  justify-content: center;
  height: 50px;
  align-content: center;
}
.card {
  opacity: 75%;
  text-align: center;
  margin: 50px;
}
